<p id="notice"><%= notice %></p>

<h1>Url Lists</h1>

<table>
  <thead>
    <tr>
      <th>Full url</th>
      <th>Short url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @url_lists.each do |url_list| %>
      <tr>
        <td><%= url_list.full_url %></td>
        <td><%= url_list.short_url %></td>
        <td><%= link_to 'Show', url_list %></td>
        <td><%= link_to 'Edit', edit_url_list_path(url_list) %></td>
        <td><%= link_to 'Destroy', url_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url List', new_url_list_path %>
